<div class="tsz-employee-list">
  <div ng-show="$state.is('app.employees')">
    <div class="row tsz-form-row">
      <div class="col-sm-2 pull-right">
        <button class="btn btn-primary btn-block" type="button" ng-click="employeeCtrl.createNew()">
          <i class="icon-plus"></i>
          New Employee
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Admin</th>
              <th  class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in employeeCtrl.pageConfig.data | orderBy:'username'" 
              class="repeated-item fadeable-row"
              ng-class="{faded: employee.deleted}"
              ng-click="employeeCtrl.showDetail(employee)">

              <td>{{employee.username}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.admin | yesNo}}</td>
              <td>
                <div ng-switch="employee.deleted">
                  <div ng-switch-when="true">
                    <button class="btn btn-sm btn-default" ng-click="employeeCtrl.restore(employee); $event.stopPropagation();">Restore</button>
                  </div>
                  <div ng-switch-default>
                    <button class="btn btn-sm btn-danger" ng-click="employeeCtrl.remove(employee); $event.stopPropagation();">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center">
      <div pagination
        total-items="employeeCtrl.pageConfig.totalItems" 
        page="employeeCtrl.pageConfig.page" 
        items-per-page="employeeCtrl.pageConfig.limit" 
        boundary-links="true" 
        rotate="true" 
        on-select-page="employeeCtrl.requestEmployees(page)">
      </div>
    </div>

  </div>

  <div ui-view></div>
</div>
